body {
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.ptr--ptr {
  color: white !important;
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
